header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 80px;
    height: 60px;
    padding-right: 80px;
    background-color: rgb(207, 158, 117)
    
}
.logo{
    padding-top: 20px;

}




nav ul{
    display: flex;
    gap:40px;
    list-style: none;

}

nav  ul li {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: #fafafa;
}